@font-face {
  font-family: Lato Bold;
  src: url(Fonts/Lato-Bold.ttf);
}

body{
    background-color: white;
}

#loadingPleaseWait {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 10%;
    /*background-color: white;*/
    display: none;
    vertical-align: center;
    }
#loadingPleaseWait div {
    margin-top: 5%;
    
    text-align: center;
    }

h4{
   font-family: Lato Bold;
   text-align: center;
   font-size: 30px;
   margin-top: 5%; 
   color:#989898;
}

h5{
   font-family: Lato Bold;
   text-align: center;
   font-size: 15px;
   margin-top: 1%; 
   color:#3399FF;
}

h6{
  color:#343945;
  text-align: center;
  margin-top: 3%;
  font-size: 14px;
  font-family: Lato Regular;
}


#btn1{
  margin-left:35%;
  background-color:#66CC33;

}
#btn2{
  margin-left:35%;
  background-color:#3399FF;
}
#btn3{
  margin-left:35%;
  background-color:#66CC33;
}
#btn4{
  margin-left:35%;
  background-color:#3399FF;
}
#btn5{
  margin-left:35%;
  background-color:#66CC33;
}
#btn6{
  margin-left:35%;
  background-color:#3399FF;
}
#btn7{
  margin-left:35%;
  background-color:#66CC33;
}
#btn8{
  margin-left:35%;
  background-color:#3399FF;
}
#btn9{
  margin-left:35%;
  background-color:#66CC33;
}
#btn10{
  margin-left:35%;
  background-color:#3399FF;
}
#btn11{
  margin-left:35%;
  background-color:#66CC33;
}
#btn12{
  margin-left:35%;
  background-color:#3399FF;
}



.btn-md.round {
    border-radius: 24px;
    width: 30%;
    height:4%;
    color: white;
    font-family: Lato Bold;
    box-shadow: 2px 4px 5px #B9B9B9;
    border:none;
}
.btn-md.round:focus{
    outline:none;
}