@font-face {
  font-family: Lato Bold;
  src: url(Fonts/Lato-Bold.ttf);
}

body{
    background-color: white;
}



#loadingPleaseWait {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 10%;
    display: none;
    vertical-align: center;
    }
#loadingPleaseWait div {
    margin-top: 5%;
    
    text-align: center;
    }

h4{
   font-family: Lato Bold;
   text-align: center;
   font-size: 30px;
   margin-top: 5%; 
   color:#989898;
}

h5{
   font-family: Lato Bold;
   text-align: center;
   font-size: 15px;
   margin-top: 1%; 
   color:#3399FF;
}

h6{
  color:#343945;
  text-align: center;
  margin-top: 3%;
  font-size: 14px;
  font-family: Lato Regular;
}

input{
  height:6%;
}

input:focus{
  outline: none;
}

form{
  /*margin-left: 35%;*/
  vertical-align: center;
  text-align: center;
  margin-top: 1%;
}
