@font-face {
  font-family: Lato Bold;
  src: url(Fonts/Lato-Bold.ttf);
}

body{
    background-color: #E0E0E0;
}

#loadingPleaseWait {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 10%;
    /*background-color: white;*/
    display: none;
    vertical-align: center;
    }
#loadingPleaseWait div {
    margin-top: 5%;
    
    text-align: center;
    }

h4{
   font-family: Lato Bold;
   text-align: center;
   font-size: 30px;
   margin-top: 15%; 
   color:#888888;
}

h5{
   font-family: Lato Bold;
   text-align: center;
   font-size: 15px;
   /*margin-top: 10%; */
   color:#1E93F0;
}


.btn1{
  margin-top:60px;
  margin-left:36%;
  border-radius: 25px;
  height:40px;
  width:120px;
  background-color:#F03F32;
  color:white;
  border:none;
  font-family: Lato Bold;
  box-shadow: 2px 4px 5px #B9B9B9;
}
.btn2{
  margin-top:-56px;
  margin-left:55%;
  border-radius: 25px;
  height:40px;
  width:120px;
  background-color:#49AC4D;
  color:white;
  border:none;
  font-family: Lato Bold;
  box-shadow: 2px 4px 5px #B9B9B9;
}

.btn1:focus{
  outline: none;
}
.btn2:focus{
  outline: none;
}
